.App {
  text-align: center;
  position: absolute;
  left: 35%;
  top: 5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-image {
  width: 480px;
  height: 350px;
}
.background-image {
  border-radius: 5px;
  width: 100%;
  position: absolute;
  left: 0%;
  height: 273px;
  object-fit: cover;
}

.dark-shade {
  position: absolute;
  background-color: rgba(158, 99, 217, 0.4);
  width: 30%;
  height: 273px;
  border-radius: 5px;
  left: 70%;
}

.progress-in-header {
  z-index: 1;
  position: absolute;
  margin-top: 180px;
  margin-left: 20px;
  color: aliceblue;
  font-weight: bolder;
}

.date-in-header {
  z-index: 1;
  position: absolute;
  margin-top: 90px;
  margin-left: 20px;
  color: aliceblue;
  font-weight: bolder;
}

.todo-list {
  align-items: center;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.todo-item-container {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

th {
  font-weight: lighter;
  text-align: left;
  padding-right: 10px;
  padding-top: 10px;
}

table {
  width: 110%;
}

.add-appointment .card-body {
  display: none;
}

#add-todo-card {
  position: fixed;
  width: 200px;
  height: 243px;
  background-color: aliceblue;
  border-radius: 5px;
  left: 600px;
}

.form-row {
  padding-top: 12px;
}