body {
  display: flex;
}

.App {
  text-align: center;
  position: absolute;
  left: 40%;
  top: 5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-list {
  align-items: center;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.todo-table {
  display: flex;
}

.container {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.todo-item-container {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

#date-in-header {
  margin-top: 40%;
}

#progress-in-header {
  margin-top: 15%;
}

.flex-item {
  flex: auto;
}
